body {
    background-image: url("http://getwallpapers.com/wallpaper/full/a/2/a/429842.jpg");
    background-size: 100vw, 100vh
}
img {
    max-width: 250px
}
.card {
    min-width: 22rem;
}
h1 {
    color: #FFF;
    text-align: center;
    background: rgba(128, 127, 137, 0.75);
    border-radius: 10px
}